.TitleBar {
  width: calc(100% - 10px);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  border-bottom: #8ec07c 2px solid;
}
.TitleBarButton {
  background-color: #8ec07c;
  border: none;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  width: 75px;
  height: 48px;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  user-select: none;
}
.TitleBarButton:active {
  border-style: outset;
  border-color: #282828;
}
