[Unit]
Description=Express server to shutdown/restart remote linux systems
After=network.target

[Service]
Type=simple
User=sublime
ExecStart=/usr/bin/node /home/sublime/git/subbyBot/core/addons/powerserver/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target