.Settings {
  background-color: #282828;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.SettingsContainer {
  display: grid;
  flex-direction: column;
  grid-gap: 5px;
  justify-items: center;
  padding-top: 5px;
}
.SettingsHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: #8ec07c 1px solid;
  padding-bottom: 10px;
}

.SettingsEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SettingsEntryTitle {
  height: 35px;
  width: 100%;
  color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ec07c;
}
.SettingsEntryForm {
  display: grid;
  gap: 2px;
}
.SettingsEntryInput {
  border: none;
  background-color: #3e4245;
  color: #dfdfdf;
  text-align: center;
  height: 35px;
  width: 300px;
}
.SettingsEntryInput.save {
}
.popup-content {
  padding: 0 !important;
  border: none !important;
  width: fit-content !important;
  max-height: 85%;
  overflow: auto;
}
