module.exports = {
  ownerID: '',
  prefix: '//',
  token: '',
  webServerPort: 5700,
  colors: {
  red: '#fb4934',
  green: '#8ec07c',
  blue: '#83a598',
  yellow: '#fabd2f',
  orange: '#d79921',
  white: '#ebdbb2',
  black: '#282828',
  grey: '#928374'
}
}
