module.exports = {
  general: {
    username: 'Subby',
    ownerId: '0000000000000',
    token: '',
    prefix: '?',
    welcomeChannel: '000000000000000000',
    starboardChannel: '000000000000000000',
    webServerPort: 5700
  },

  pihole: {
    host: 'http://10.0.0.6/',
    apiKey: ''
  },
  emby: {
    host: 'https://emby.atriox.io',
    apiKey: ''
  },
  docker: {
    host: 'http://10.0.0.5:2375'
  },
  sengled: {
    username: '',
    password: '',
    jsessionid: ''
  },
  googleHome: {
    ip: '',
    name: 'Subbyhome',
    language: 'en',
    accent: 'en'
  },
  transmission: {
    host: '10.0.0.5',
    port: '9091',
    ssl: false
  },
  sabnzbd: {
    host: 'https://sabnzbd.atriox.io',
    apiKey: ''
  },
  ombi: {
    host: 'https://ombi.atriox.io/',
    apiKey: '',
    username: 'sublime',
    requesttv: true,
    requestmovie: true
  },
  meraki: {
    serielNum: '',
    apiKey: ''
  },
  pioneerAVR: {
    host: 'http://10.0.0.127'
  },
  systemPowerControl: {
    devices: [
      {
        name: 'thinkboi',
        host: 'http://10.0.0.5:5709',
        mac: ''
      },
      {
        name: 'gaara',
        host: 'http://10.0.0.7:5709',
        mac: ''
      }
    ]
  },
  tuyaPlugControl: {
    devices: [
      {
        name: 'tank',
        id: '',
        key: ''
      }
    ]
  }
}
